{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
<h1 class="fw-bold">{{ user.username }}</h1>
<div class="col-md-12 col-lg-6 col-xl-4">
  {% if user.first_name %}
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
  {% endif %}
  {% if request.user.is_authenticated and request.user == user %}
    <a class="btn btn-primary me-3 my-2" href="{% url 'users:profile_edit' user.username %}" class="pe-4">Редактировать профиль</a>
    <a class="btn btn-primary my-2" href="{% url 'users:password_change_form' %}">Смена пароля</a>
  {% endif %}
  {% if user.about %}
    <p class="pt-3 text-secondary">{{ user.about }}</p>
  {% endif %}
  {% if unique_finished > 0 %}
    <div class="pt-3">
      <p>Пройдено тестов: <span class="fw-bold">{{ unique_finished }}</span></p>
      {% if correct_percentage > 0 %}
        <p>Верных ответов: <span class="fw-bold">{{ correct_percentage }}%</span> </p>
      {% endif %}
    </div>
  {% endif %}
</div>
{% if latest_progress %}
  <a href="#" class="text-decoration-none"><h3 class="py-3 fw-bold">Прогресс</h3></a>
  <div class="row row-cols-2 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-4">
    {% for progress in latest_progress %}
      <div class="col">
        <a href="#" class="text-decoration-none text-dark">
          <div class="card h-100 exam-card hover-shadow">
            <div class="card-body pb-0">
              <h5 class="card-title fw-bold">{{ progress.exam.title }}</h5>
              <span>{{ progress.exam.category.title }}</span>
            </div>
            <div class="card-footer mb-2 pt-2">
              <div class="progress mt-2">
                {% if progress.finished %}
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                {% else %}
                  <div class="progress-bar" role="progressbar" style="width: {{ progress.percentage }}%"></div>
                {% endif %}
              </div>
              <div class="pb-3 pt-1">
                <span class="text-secondary text-mini">
                  {% if progress.finished %}
                    {{ progress.finished|date:"d.m.Y  H:i" }} <br>
                    <span class="fw-bold">{{ progress.percentage_correct }}%</span> верных ответов
                  {% else %}
                    Начат {{ progress.started|date:"d.m.Y  H:i" }} <br>
                    {{ progress.answers_quantity }} / {{ progress.questions_count }} 
                  {% endif %}
                </span>
              </div>
              {% if progress.passed %}
                <span class="text-success fw-bold">Завершен</span>
              {% else %}
                <span class="text-primary fw-bold">В процессе</span>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
