{% extends "base.html" %}
{% load humanize %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
<h3 class="fw-bold">{{ user.username }}</h3>
<div class="row">
  <div class="col-md-6 col-xl-4">
    {% if user.first_name %}
      <h5>{{ user.first_name }} {{ user.last_name }}</h5>
    {% endif %}
    <p class="text-secondary mini-info">Зарегистрирован {{ user.date_joined|date:"d.m.Y" }}</p>
    {% if user.about %}
      <p class="text-secondary pe-3 pb-2">{{ user.about }}</p>
    {% endif %}
    {% if request.user.is_authenticated and request.user == user %}
      <a class="btn btn-primary me-3 my-2" href="{% url 'users:profile_edit' user.username %}" class="pe-4">Редактировать профиль</a>
      <a class="btn btn-primary my-2" href="{% url 'users:password_change_form' %}">Смена пароля</a>
    {% endif %}
  </div>
  <div class="row col-md-12 col-xl-8 py-3 border-bottom">
    <div class="col-4 text-center">
      <div class="text-secondary">Пройдено тестов</div>
      <h3 class="fw-bold py-3">
        {% if user.exams_count %}
          {{ user.exams_count }}
        {% else %}
        -
        {% endif %}
      </h3>
    </div>
      <div class="col-4 text-center">
        <div class="text-secondary">Верных ответов</div>
        {% if user.correct_percentage %}
          <h3 class="fw-bold py-3
          {% if user.correct_percentage > 65 %}
          text-success
          {% elif user.correct_percentage > 32 %}
          text-warning
          {% else %}
          text-danger
          {% endif %}
          ">{{ user.correct_percentage }}%</h3>
        {% else %}
          <h3 class="fw-bold py-3">-</h3>
        {% endif %}
      </div>
    <div class="col-4 text-center">
      <div class="text-secondary">Баллов</div>
      <h3 class="fw-bold py-3">
        {% if user.points %}
          {{ user.points }}
        {% else %}
        -
        {% endif %}
      </h3>
    </div>
    <div class="col-12 text-center">
      <div class="mini-info text-secondary">Позиция в <a href="{% url 'users:users_rankings' %}">рейтинге</a>: <span class="fw-bold">{{ user.position_of_rankings }}</span></div>
    </div>
  </div>
</div>
{% if exams %}
  <div class="py-4">
    <h4 class="fw-bold d-inline"><a href="{% url 'progress:progress_list' user.username %}" class="text-decoration-none">Прогресс</a></h4>
  </div>
  {% include '../includes/exams.html' %}
{% endif %}
{% endblock %}
