{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
<h1 class="fw-bold">{{ user.username }}</h1>
<div class="col-12 col-md-6 col-lg-4">
  {% if user.first_name %}
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
  {% endif %}
  {% if request.user.is_authenticated and request.user == user %}
    <a href="{% url 'users:profile_edit' user.username %}" class="pe-4">Редактировать профиль</a>
    <a href="{% url 'users:password_change_form' %}">Смена пароля</a>
  {% endif %}
  {% if user.about %}
    <p class="pt-3 text-secondary fw-light">{{ user.about }}</p>
  {% endif %}
  {% if unique_passed > 0 %}
    <div class="pt-3">
      <p>Пройдено тестов: <span class="fw-bold">{{ unique_passed }}</span></p>
      {% if correct_percentage > 0 %}
        <p>Верных ответов: <span class="fw-bold">{{ correct_percentage }}%</span> </p>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
