{% extends "base.html" %}
{% load humanize %}
{% load cache %}
{% block title %}Рейтинг пользователей{% endblock %}
{% block content %}
<h3 class="fw-bold mb-4">Рейтинг пользователей</h3>
<div class="mini-info text-secondary pb-3">Рейтинг обновляется каждый час</div>
{% cache 3600 rankings %}
<table class="table table-hover">
  <thead>
    <tr class="text-secondary">
      <th scope="col"></th>
      <th scope="col">Пользователь</th>
      <th scope="col" class="text-center">Пройдено тестов</th>
      <th scope="col" class="text-center">Верных ответов</th>
      <th scope="col" class="text-center">Баллов</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <th scope="row">{{ user.rank }}</th>
        <td class="fw-bold"><a href="{% url 'users:profile' user.username %}" class="text-decoration-none">{{ user.username }}</a></td>
        <td class="text-center">{{ user.exams_count }}</td>
        <td class="text-center">{{ user.correct_percentage }}%</td>
        <td class="text-center fw-bold">{{ user.points }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endcache %}
{% include '../includes/paginator.html' %}
{% endblock %}
