<div class="mini-info text-secondary pt-3">
  {% if exam.timer %}
    <p>Время на прохождение в минутах: <span class="fw-bold">{{ exam.timer }}</span></p>
  {% else %}
    <p>Время прохождения неограниченно</p>
  {% endif %}
  {% if exam.required_percent %}
    <p>Минимальный процент верных ответов для успешного прохождения: <span class="fw-bold">{{ exam.required_percent }}%</span></p>
  {% else %}
    <p>Для успешного прохождение достаточно набрать любой процент верных ответов</p>
  {% endif %}
  {% if exam.allow_retesting %}
    <p>Допускается повторное прохождение</p>
  {% else %}
    <p>Тест можно пройти только один раз</p>
  {% endif %}
  {% if exam.show_results %}
    <p>Пользователю отображается результат, после каждого ответа и по окончанию тестирования</p>
  {% else %}
    <p>Результаты теста выводится только по его окончанию</p>
  {% endif %}
  {% if exam.empty_answers %}
    <p>Допускается оставлять выбор пустым, там где предполагается несколько вариантов ответа</p>
  {% else %}
    <p>Не допускается оставлять выбор пустым</p>
  {% endif %}
  {% if exam.shuffle_variants %}
    <p>Варианты ответа выводятся в случайном порядке</p>
  {% endif %}
</div>
