<div class="container-fluid header mb-2">
  <div class="container">
    <div class="row py-4">
      <div class="col-3 col-lg-4">
        <a href="{% url 'exams:index' %}" class="text-decoration-none">
          <h1 class="logo full-view fw-bold d-inline">exams</h1>
        </a>
      </div>
      <div id="search" class="col-4 col-lg-4 d-flex align-items-center main-search">
        <input type="search" name="query" class="form-control" placeholder="Поиск">
      </div>
      <div class="col-5 col-lg-4 mt-2 d-flex align-items-center flex-row-reverse">
        {% if request.user.is_authenticated %}
          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle fw-bold text-decoration-none me-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard-fill me-1 pb-1" viewBox="0 0 16 16">
                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
              </svg>
              <span class="pe-1">{{ request.user.username }}</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'users:profile' request.user.username %}">Профиль</a></li>
              <li><a class="dropdown-item" href="{% url 'users:profile_edit' request.user.username %}">Настройки</a></li>
              <li><a class="dropdown-item" href="{% url 'progress:progress_list' request.user.username %}">Прогресс</a></li>
              {% if request.user.is_superuser %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ-панель</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'users:signup' %}" class="btn btn-primary me-3">Регистрация</a>
          <a href="{% url 'users:login' %}" class="btn btn-primary me-3">Вход</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
