<div class="container-fluid header mb-2">
  <div class="container">
    <div class="row py-4">
      <div class="col-3 col-lg-4">
        <a href="{% url 'exams:index' %}" class="text-decoration-none">
          <h1 class="logo full-view fw-bold d-inline">exams</h1>
        </a>
      </div>
      <div id="search" class="col-4 col-lg-4 d-flex align-items-center main-search">
        <input type="search" name="query" class="form-control" placeholder="Поиск">
      </div>
      <div class="col-5 col-lg-4 d-flex align-items-center flex-row-reverse">
        {% if request.user.is_authenticated %}
        <a href="{% url 'users:logout' %}" class="text-secondary text-decoration-none me-3 mt-2">Выход</a>
        <a href="{% url 'users:profile' request.user.username %}" class="fw-bold text-decoration-none me-4 mt-2">{{ request.user.username }}</a>
        {% else %}
        <a href="{% url 'users:signup' %}" class="btn btn-primary me-3 mt-2">Регистрация</a>
        <a href="{% url 'users:login' %}" class="btn btn-primary me-3 mt-2">Вход</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
