{% extends 'base.html' %}
{% load user_filters %}
{% load widget_tweaks %}
{% block title %}
  {{ exam.title }} - {{ exam.category.title}}
{% endblock %}
{% block content %}
  <a href="{% url 'questions:exam_list' %}?category={{ exam.category.slug }}" class="text-decoration-none fs-5 fw-bold">{{ exam.category.title }}</a>
  <h3 class="fw-bold">{{ exam.title }}</h3>
  <div class="pt-3">
    {% for q in exam.questions.all %}
      <a href="{% url 'questions:exam_process' exam.slug forloop.counter %}" class="text-decoration-none">
        <div class="d-inline-block pe-1 pb-1">
          <div class="p-2 rounded-1
            {% if stage == forloop.counter %}
            bg-primary border border-primary
            {% elif exam.show_results and q.corrected == 0 and q.finished != 0 %}
            bg-danger border border-danger
            {% elif stage > forloop.counter or progress.stage > forloop.counter %}
            bg-success border border-success
            {% else %}
            bg-light border
            {% endif %}">
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% if answer %}
    <p class="py-2 pt-3 fs-5 {% if answer.correct %}text-success{% else %}text-danger{% endif %}">
      {% if answer.correct %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill me-1 answer-icon" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill me-1 answer-icon" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
      {% endif %}
      {{ answer.question_text }}
    </p>
    {% if exam.show_results and question.success_message %}
      <p class="py-3">
        {{ question.success_message }}
      </p>
    {% endif %}
  {% else %}
    <p class="py-2 pt-3 fs-5">
      {{ question.text }}
    </p>
  {% endif %}

  {% if progress.answers_quantity < stage %}
  <form method="post">
    {% csrf_token %}
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-3 text-danger">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% for field in form %}
      {% if question.many_correct %}
        <div class="form-check">
          {{ field|addclass:'form-check-input' }}
          <label class="form-check-label" for="flexCheckDefault">
            {{ field.label }}
          </label>
        </div>
      {% elif question.one_correct %}
          {{ field|addclass:'list-unstyled p-0 m-0 mb-2' }}
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary my-3">
      Ответить
    </button>
  </form>
  {% else %}
  {% if exam.show_results %}
    {% for variant in answer.variants.all %}
      {% include '../includes/user_variants.html' %}
    {% endfor %}
    {% if not answer.correct and answer.selected_count == answer.corrected_count %}
      <div class="d-inline-block pe-3 pb-3">
        <div class="p-2 pe-3 text-danger">Недостаточно ответов</div>
      </div>
    {% endif %}
  {% endif %}
  {% endif %}
  {% if answer %}
  <div>
    {% if last_stage %}
      <a href="{% url 'users:progress_detail' progress.id %}" class="btn btn-success my-3 me-3">
        Перейти к результатам
      </a>
    {% else %}
      <a href="{% url 'questions:exam_process' exam.slug next_stage %}" class="btn btn-success my-3 me-3">
        Следующий вопрос
      </a>
      {% if answered.count == exam.questions.count %}
        <a href="{% url 'users:progress_detail' progress.id %}">
          Перейти к результатам
        </a>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
