{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ category.title }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-9 col-xl-10">
    <h1 class="fw-bold">{{ category.title }}</h1>
    <div>
      <p class="py-3 fs-5">{{ category.description }}</p>
      {% if exams %}
        {% include '../includes/exams.html' %}
      {% endif %}
    </div>
    {% include '../includes/paginator.html' %}
  </div>
  {% if categories %}
    {% include '../includes/categories_list.html' %}
  {% endif %}
</div>
{% endblock %}
