.main-search .form-control {
  padding-bottom: 0.45rem;
}
.main-search .form-control:focus {
  border-color: none;
  box-shadow: none;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  background: #fff;
}

.ui-widget.ui-widget-content {
  border: 0px;
  border-radius: 0 0 0.3em 0.3em;
  padding: 1em;
  color: #353535;
  padding-left: 0.8rem;
  font-size: 0.95em;
  line-height: 1.8em;
  border: 1px solid #86b7fe;
  border-top: none;
}

.ui-menu-item .ui-menu-item-wrapper {
  padding: 0;
  padding-bottom: 0.3em;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: none !important;
  font-weight: none !important;
  color: #0d6efd !important;
  border-color: #fff !important;
} 
