{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="row">
    <h3 class="fw-bold m-0">Популярные темы</h3>
    {% for theme in themes %}
      <div class="quiz-themes-list main-tile col-12 col-md-6 col-lg-4 p-4">
        <a href="{% url 'questions:quiz_list' theme.slug %}" class="text-decoration-none">
            <h3>{{ theme.title }}</h3>
            <p>{{ theme.description }}</p>
            <p class="fw-bold">
              <span class="pe-4">
                {% if theme.quizzes.count > 0 %}
                  Квизов: {{ theme.quizzes.count }}
                {% else %}
                  Твой квиз может быть первым!
                {% endif %}
              </span>
            </p>
        </a>
      </div>
    {% endfor %}
    {% include '../includes/paginator.html' %}
  </div>
{% endblock %}
