{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ theme.title }}
{% endblock %}
{% block content %}
  <h1 class="fw-bold">{{ theme.title }}</h1>
  <p class="py-3 fs-5">{{ theme.description }}</p>
  <div>
    {% for quiz in quizzes %}
      <div class="bg-light shadow p-4 my-5 row">
        <div class="col-9">
          <a href="{% url 'questions:quiz_detail' quiz.slug %}" class="text-decoration-none"><h4>{{ quiz.title }}</h4></a>
          <p>{{ quiz.description }}</p>
          {% if quiz.questions_count %}
            <p><span>Вопросов: </span>{{ quiz.questions_count }}</p>
          {% endif %}
        </div>
        <div class="col-3 d-flex align-items-center flex-row-reverse">
          {% if quiz.id in passed %}
            <a href="{% url 'questions:quiz_process' quiz.slug current_stages|get_item:quiz.id %}" class="btn btn-success">Результаты</a>
          {% elif quiz.id in in_progress and quiz.id not in passed %}
            <a href="{% url 'questions:quiz_process' quiz.slug current_stages|get_item:quiz.id %}" class="btn btn-primary">Продолжить</a>
          {% else %}
            <a href="{% url 'questions:quiz_process' quiz.slug 1 %}" class="btn btn-primary">Пройти</a>
          {% endif %}
        </div>
        {% if request.user.is_authenticated and quiz.questions_count and passed_percent|get_item:quiz.id > 0 %}
          <div class="col-12 py-3">
            <div class="progress">
              <div class="progress-bar {% if passed_percent|get_item:quiz.id >= 100 %}bg-success{% endif %}" 
                role="progressbar" style="width: {{ passed_percent|get_item:quiz.id }}%"></div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% include '../includes/paginator.html' %}
{% endblock %}
