{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ quiz.title }} - {{ quiz.theme.title}}
{% endblock %}
{% block content %}
  <a href="{% url 'questions:quiz_list' quiz.theme.slug %}" class="text-decoration-none fs-5 fw-bold">{{ quiz.theme.title }}</a>
  <h1 class="fw-bold">{{ quiz.title }}</h1>
  <p class="py-3 fs-5">Тест пройден</p>
  {% if latest_answers %}
  <h3 class="pb-2">Результаты</h3>
  {% if questions_count %}
    <p>Верных ответов: <span class="fw-bold">{{ correct_count }}</span> из <span class="fw-bold">{{ questions_count }}</span>
    {% if correct_percentage > 0 %}
      ({{ correct_percentage }}%)
    {% endif %}
    </p>
  {% endif %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Вопрос</th>
        <th scope="col">Ответ(ы)</th>
      </tr>
    </thead>
    <tbody>
      {% for answer in latest_answers %}
        <tr class="
        {% if answer.correct %}
          table-success
        {% endif %}
        ">
          <td>{{ answer.question_text }}</td>
          <td>
            {% for variant in answer.variants.all %}
              <p>{{ variant }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
