{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ category.title }}
{% endblock %}
{% block content %}
<div class="row">
  <h3 class="fw-bold mb-4">
    {% if category %}
      {{ category.title }}
    {% else %}
      Все тесты
    {% endif %}
  </h3>
  {% if request.user.is_authenticated and request.user.hide_finished_exams %}
    <div class="col-12 pt-0 mt-0 pb-4">
      <span class="mini-info text-secondary">Пройденные тесты <a href="{% url 'users:profile_edit' request.user.username %}">скрыты</a></span>
    </div>
  {% endif %}
  <div class="col-9 col-xl-10">
    <div>
      {% if category %}
        <p class="py-3 fs-5">{{ category.description }}</p>
      {% endif %}
      {% if exams %}
        {% include '../includes/exams.html' %}
      {% endif %}
    </div>
    {% include '../includes/paginator.html' %}
  </div>
  {% if categories %}
    {% include '../includes/categories_list.html' %}
  {% endif %}
</div>
{% endblock %}
