{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
    <div class="row">
      {% include '../includes/navbar.html' %}

      {% if exams or request.user.is_authenticated and request.user.hide_finished_exams %}

        {% if request.user.is_authenticated and request.user.hide_finished_exams %}
          <div class="col-12 pt-0 mt-0 pb-4">
            <span class="mini-info text-secondary">Пройденные тесты <a href="{% url 'users:profile_edit' request.user.username %}">скрыты</a></span>
          </div>
        {% endif %}

        <div class="col-8 col-xl-10">
          {% include '../includes/exams.html' %}
        </div>

      {% endif %}

      {% if categories %}
        {% include '../includes/categories_list.html' %}
      {% endif %}

      {% if more_link %}
        <div class="col-12 py-4 fs-5 ms-1">
          <a href="{% url 'exams:exam_list' %}" class="fw-bold text-decoration-none">
            Все тесты
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      {% endif %}

    </div>
{% endblock %}
