{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ sprint.title }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <a href="{% url 'exams:sprint_list' %}" class="fw-bold text-decoration-none fs-5">Спринты</a>
    <h3 class="fw-bold">
      {{ sprint.title }}
    </h3>
    <span class="text-secondary">{{ sprint.created|date:"d.m.Y" }}</span>
  </div>
  {% if request.user.is_authenticated and request.user.hide_finished_exams %}
    <div class="col-12 pt-0 mt-0 pb-4">
      <span class="mini-info text-secondary">Пройденные тесты <a href="{% url 'users:profile_edit' request.user.username %}">скрыты</a></span>
    </div>
  {% endif %}
  {% if sprint.description %}
    <div class="col-12 col-xl-8 pt-3">{{ sprint.description }}</div>
  {% endif %}
  {% if exams %}
    {% include '../includes/exams.html' %}
  {% endif %}
  {% include '../includes/paginator.html' %}
</div>
{% endblock %}
