{% load user_filters %}
{% load widget_tweaks %}
{% csrf_token %}
<div class="{% if form.non_field_errors %}invalid{% endif %} mb-3 text-danger fw-bold">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% for field in form %}
  <p class="mt-2 mb-2 fw-bold">{{ field.label}}</p>
  <p>{{ field|addclass:'form-control' }}</p>
  {% for error in field.errors %}
    <p class="help-block mt-2 text-danger fw-bold">{{ error }}</p>
  {% endfor %}
  <p class="fw-light">{{ field.help_text }}</p>
{% endfor %}
